body {
  background-color: #000;
}

.hero {
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("hero-background.jpg");
  background-size: cover;
  background-position: top center;
  opacity: 0.4;
}

header {
  position: relative;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1rem;
  height: 65px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  padding: 1.25rem 1.25rem;
  transition: 150ms ease-in-out;
}

li:hover a {
  color: #ffef1e;
}

li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
}

.nav-toggle {
  display: none;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}

.nav-toggle i {
  font-size: 1.3rem;
  color: #000;
}

.open {
  height: 100vh;
}

.hidden {
  display: none;
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  opacity: 1;
}

.wrapper-main {
  flex-direction: column;
  width: 80%;
  text-align: center;
  color: #fff;
}

.wrapper-main h1 {
  text-transform: uppercase;
  font-weight: 700;
}

.button-more {
  text-decoration: none;
  color: #000;
  background-color: #ffef1e;
  padding-left: 2em;
  padding-top: 0.5em;
  padding-right: 2em;
  padding-bottom: 0.5em;
  border-radius: 5%;
  font-weight: 600;
  text-transform: uppercase;
}

.middle {
  display: flex;
  justify-content: center;
  padding: 2em;
  background-color: #fff;
}

.wrapper-middle {
  color: #000;
  flex-direction: column;
  text-align: center;
  width: 80%;
}

.wrapper-middle h2 {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}


@media screen and (max-width: 720px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }

  nav {
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: 250ms height ease-in-out;
  }

  li {
    display: block;
    text-align: center;
    padding: 1.5rem 0;
  }

  li a {
    font-size: 1.4rem;
  }

  .nav-toggle {
    display: block;
  }
}